@use "_mixins" as *;
.container {
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  &__inner {
    max-width: 1360px;
    margin: auto;
    @include veryBigScreen {
      max-width: 1640px;
    }
  }
}
.d-grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
  @include smallLaptop {
    grid-template-columns: 1fr 1fr;
  }
}
.d-grid-3 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
  @include smallLaptop {
    grid-template-columns: 1fr 1fr;
  }
  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
